<form class="todo-form">
  <input type="checkbox" class="todo-form-toggle" />
  <input class="todo-form-input" />
  <button>+</button>
</form>
<div class="todos-list">
  <!-- <div class="todo-item" data-todo-id="0.4332215605121956">
    <input type="checkbox" class="todo-item-completed" />
    <span class="todo-item-title"> ABC </span>
    <button class="todo-item-button-delete">-</button>
  </div> -->
</div>


<!--
  Exercice 1 (property binding, ngFor, interpolation) :
  - Afficher dans le champ todo-form-input la valeur contenue dans
  la propriété newTodo
  - Avec ngFor, afficher le tableau contenu dans la propriété todos
  sous forme de :
  <div class="todo-item" data-todo-id="0.4332215605121956">
    <input type="checkbox" class="todo-item-completed" />
    <span class="todo-item-title"> ABC </span>
    <button class="todo-item-button-delete">-</button>
  </div>
  (afficher id dans data-todo-id, completed dans la checkbox et title dans todo-item-title)

  Exercice 2 (event binding) :
  - Ecouter l'événement input sur todo-form-input et mettre à jour newTodo
  avec la valeur saisie
  - Ecouter l'événement submit du formulaire (appeler event.preventDefault())
  et insérer une todo dans le tableau todos ex :
  {
    id: Math.random(),
    title: 'LA VALEUR SAISIE',
    completed: false,
  }
  La liste va se raffraichir

  Exercice 3 :
  Au clic du bouton moins supprimer la ligne

  Exercice 4 :
  Au click de la checkbox todo-form-toggle, cocher ou décocher
  toutes les autres
-->
