<h2>hello (text interpolation)</h2>
<app-hello></app-hello>

<h2>clock (binding, lifecycle)</h2>
<app-clock></app-clock>

<h2>user-form (property binding, class binding, style binding, directives)</h2>
<app-user-form></app-user-form>

<h2>counter (event binding)</h2>
<app-counter></app-counter>

<h2>Exercices (text interpolation, property + event binding, template ref)</h2>
<app-ex-basics></app-ex-basics>
<app-ex-multi-state-button></app-ex-multi-state-button>

<h2>select (ngFor, résumé)</h2>
<app-select></app-select>
