<h2>hello (text interpolation, @Input)</h2>
<app-hello></app-hello>
<app-hello name="prenom"></app-hello> <!-- Hello prenom! -->
<app-hello [name]="'prenom'"></app-hello> <!-- Hello prenom! -->
<app-hello [name]="prenom"></app-hello> <!-- Hello Toto! -->

<h2>clock (binding, lifecycle)</h2>
<p>Format : <input [(ngModel)]="format" /></p>
<p>Délai : <input [(ngModel)]="delay" /></p>
<p><button (click)="show = !show">{{ show ? 'Hide' : 'Show' }}</button></p>
<app-clock *ngIf="show" [format]="format" [delay]="delay"></app-clock>

<h2>user-form (property binding, class binding, style binding, directives)</h2>
<app-user-form></app-user-form>

<h2>counter (event binding)</h2>
<app-counter></app-counter>

<h2>Exercices (text interpolation, property + event binding, template ref, input, output)</h2>
<app-ex-basics></app-ex-basics>
<app-ex-multi-state-button></app-ex-multi-state-button>
<app-ex-multi-state-button [items]="['Toto', 'Titi', 'Tata']" [selected]="prenom" (selectedChange)="prenom = $event"></app-ex-multi-state-button>
<app-ex-multi-state-button [items]="['Toto', 'Titi', 'Tata']" [(selected)]="prenom"></app-ex-multi-state-button>
<!--
  Nouvelle syntaxe Two Way Binding [()]
  BANANA IN A BOX
  - input appeler d'une certaine façon (ici selected) et le nom de l'output = nom de l'input + Change
  - l'input reçoit obligatoirement une variable
  - quand l'output est emit, $event va dans cette variable
-->

<p>Valeur sélectionnée : {{ prenom }}</p>

<h2>select (ngFor, résumé)</h2>
<app-select [selected]="prenom" [items]="['Toto', 'Titi', 'Tata']" (change)="handleChange($event)"></app-select>

<h2>Exercice Todolist (résumé templates)</h2>
<app-ex-todolist></app-ex-todolist>

<h2>Exercice Todolist (Bonus)</h2>
<app-ex-todolist-bonus></app-ex-todolist-bonus>

<h2 appHighlight>ng-select (input, output)</h2>
<ng-select [ngModel]="prenom" [items]="['Romain', 'Eric', 'Jean']" (change)="handleChange($event)"></ng-select>


<h2>user-form-template-driven (Template Driven Forms)</h2>
<app-user-form-template-driven></app-user-form-template-driven>
