<div>
  <label>Name:</label>
  <input type="text" placeholder="Enter a name here" [value]="name" (input)="updateName($event)">
  <hr>
  <h1>Hello {{ name }}!</h1>
</div>

<!--
  Exercice 1 :
  - déclarer une propriété name au niveau de la classe TypeScript (avec une valeur par défaut, ex votre prénom)
  - afficher la valeur de name après le texte Hello (ex: Hello Romain!)
  - afficher la valeur de name dans le champ
  - écouter l'événement input sur le champ et modifier la propriété name en conséquence
  (en vous inspirant de Counter)
  Le composant doit se raffraichir tout seul
-->

<div>
  <label>Name:</label>
  <input type="text" placeholder="Enter a name here" [value]="name" (input)="name = inputEl.value" #inputEl>
  <hr>
  <h1>Hello {{ name | limit:6:'...' }}!</h1>
</div>
